*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding-bottom: 100px;
    padding-top: 100px;
}


.about.me {
    text-align: center;
    padding: 50px;
    background-color: #e0e0e0;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.Education {
    padding: 50px;
    text-align: center;
    background-color: #c0c0c0;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.Education h2 {
    margin-bottom: 15px;
    
}
.Education h3 {

    background-color: #b0b0b0;
    margin-bottom: 10px;
}

.Skills {
    padding: 50px;
    text-align: center;
    background-color: #b0b0b0;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}