body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: #919191;
    padding-top: 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 30px;
    justify-content: center;
}


.container,
.container-2,
.container-3,
.container-4 {
    width: 300px;          /* ⬅ wider boxes */
    min-height: 170px;    /* ⬅ balanced height */
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}

.container-2 {
    background-color: #5f9eed;
}

.container-3 {
    background-color: #ed5f9e;
}

.container-4 {
    background-color: #e97e7e;
}


h2 {
    color: #fff2f2;
    text-align: center;
    font-style: bold;
}

p {
    color: #5f0357;
    font-size: 18px;
    line-height: 1.6;
    font-style: bold;
    font:100% Arial, sans-serif;
}

.button
{
    margin-left: 92%;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}